<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/weather.png">
    <title>About page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="dark-mode">
    <div class="main-content">
        {{>header}}
        <p class="about-head">This is a beta of the weather app developed by Maksym Hunko   -
            <a href="https://github.com/podgulyavhyy"><img src="/img/github.png" alt="My github page" class="social-img"></a>
            <a href="https://www.facebook.com/profile.php?id=100005810296282"><img src="/img/faceb.png" alt="My facebook page" class="social-img"></a></p>

        <p class="about-par">As you can see this is just a beta version so everything would be finished and fixed by the release date,
        feel free to submit your reports and offers <a href="mailto:Mhunko@mail.greenriver.edu?Subject=Weather%20app%20report" target="_top">here</a>. Thanks!</p>
    </div>

    {{>footer}}

    <script src="js/app.js"></script>
</body>
</html>